<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                
            </a>
            <ul class="nav navbar-nav" style="right:0px">
                <li><a href="/">Home</a></li>
                <li><a href="/urls">URL's</a></li>
            </ul>
                <% if (user) {%>
                        
                        <form method="POST" action="/logout">
                            <p>Hello, <%= user.email %></p>
                            <button>Sign Out</button>
                        </form> 
                    <% } else { %>
                            <span style="right:0px">
                                <a href="/login"><u>Sign in</u></a>
                        <a href='/register'> or <u>Register here!</u></a></span>
                    <% } %>
        </div>
    
    </div>
    </nav>