<!-- views/pages/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class='container'>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
      <div class="jumbotron">
          <h2>URL's:</h2>
          
          <ul>
              <%for(var i in urls) { %>
               <li><%= i + ": " + urls[i]%> <a href="urls/<%= i %>">View Details</a> </li>
               <% } %> 
              <li>or add a <a href="/urls_new"> new URL here</a></li>
          </ul>
      </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>